.about-title {
    font-family: "Fredoka One", sans-serif;
    font-size: 80px;
    background: white;
    display: inline;
    padding: 0px 8px;
    border-radius: 8px;
}

.profile-image {
    width: 164px; 
    height: 164px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
}

@media only screen and (max-width : 992px){
    .about-title {
        font-family: "Fredoka One", sans-serif;
        font-size: 48px;
    }        

    .profile-image{
        width: 72px;
        height: 72px;
    }
}