.input-container{
    position: relative;
}

.input-container input[type="text"] {
    border: none;
    border-bottom: 1.6px solid #e8645a;
    display: block;
    width: 100%;
}

.input-container input[type="text"]:focus {
    outline: none;
    border-bottom: 1.6px solid #b5483f;
}

.input-container label {
    opacity: 1.0;
    display: inline-block;
    background: #e8645a;
    font-family: ubuntu, 'sans-serif';
    color: white;
    padding: 2px 8px;
    border-radius: 4px;
}

textarea{
    width: 100%;
    border-radius: 12px;
    background:#e8645a0f;
    border: none;
    padding: 4px 8px;
}

.input-container input[type="color"] {
    border-radius: 56px;
    width: 56px;
    height: 56px;
    overflow: hidden;
    display: block;  
    border: 2px solid #e8645a;

}
