.new-button {
    background-color: #d81b60;
    padding: 8px 12px;
    bottom: 24px;
    right: 24px;
    border-radius: 50px;
    border: none;
    color: white;
    transition: background-color 0.12s ease-in;
}

.new-button:hover {
    background-color: #ff5c8d;
}

.links-position{
    display: inline-block;
    position: fixed;
    bottom: 24px;
    right: 24px;
}

.list-button{
    padding: 6px 12px;
    font-size: 18px;
}

.list-button:hover{
    background-color: #4ebaaa;
}

.delete-article-button{
    position: relative;
    border: none;
    background: transparent;
    font-size: 1.4em;
    outline: none;
}   

.delete-article-button:hover {
    color: #a65d37;
}

.article-item{
    background: #f08f5b;
    border-radius: 12px;
    transition: 0.24s transform ease-in-out; 
}

.article-item:hover{
    transform: scale(1.05, 1.1);
}

@media only screen and (max-width: 992px){
    .new-button{
        bottom: 12px;
        right: 12px;
    }

    .delete-article-button{
        font-size: 1.6em;
        /* left: -12px; */
    }
 
}