.article-link-title{
    font-family: "Fresca", cursive;
    text-transform: uppercase;
    font-size: 72px;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1.0em;
}

.article-link-desc{
    font-family: 'Fresca', cursive;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
}

.article-tag{
    background-color: black;
    border-radius: 4px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 18px;
    font-weight: 100;
    
}
/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .article-link-title{
        font-size: 56px;
    }

    .article-tag{
        font-size: 16px;
    }
    
    .article-link-desc{
        font-size: 16px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}