@import url('https://fonts.googleapis.com/css?family=Zilla+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab&display=swap');

@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root{ 
    --color-main: #673ab7;
    --color-mid: #5c6bc0;
    --color-sec: #26a69a;
    --background-main: linear-gradient(to right, var(--color-main), var(--color-mid), var(--color-sec));
    --text-background: #FFFFFF;
    --text-color-normal: #323232;

    --text-normal: 'Open Sans', 'sans-serif';
    --text-code: consolas, 'ubuntu mono', monospace;
    --text-header: 'Open Sans', 'sans-serif';
}

.article-view-title{
    font-family: Righteous, 'sans-serif';
    font-size: 64px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 1.0em;
}

.article-item-details{
    font-family: var(--text-normal);
    font-size: 12px !important;
    text-transform: uppercase;
}

.article-tag{
    background-color: black;
    border-radius: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 12px;
    font-weight: 100;   
}

.article-text-container {
    border-radius: 4px;
}

.article-text-container p{
    /* line-height: 1.8em; */
    font-size: 15px;
    padding: 0px 8px;
    font-family: var(--text-normal);
}

.article-text-container p > img {
    border-radius: 2px;
    position: relative;
    left: 50%;
    border: 1px solid gray;
    margin-top: 48px;
    margin-bottom: 48px;
    transform: translateX(-50%);
    max-width: 100%;
}

.article-text-container h1, .article-text-container  h2, .article-text-container  h3, .article-text-container  h4, .article-text-container h5, .article-text-container h6{
    margin: 24px 0px;
    font-family: var(--text-header);
    padding: 2px 8px;
    border-radius: 8px;
    padding: 0px 8px;
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--color-mid);
}

.article-text-container h1::before, .article-text-container h2::before, .article-text-container h3::before, .article-text-container h4::before, .article-text-container h5::before, .article-text-container h6::before {
    content: "# ";
    opacity: 0.4;
    cursor: pointer;
}

.article-text-container strong {
    padding: 2px 4px 0px 4px;
    font-size: 15px;
    color: var(--text-color-normal);
    font-weight: normal;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
}

.article-text-container strong::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    background: var(--background-main);
    z-index: -1;
    opacity: 0.4;
}

.article-text-container ul, ol{
    font-family: var(--text-normal);
    font-size: 14px;
    margin-top: 12px;
    padding: 0px 8px;
    word-wrap: break-word;
}

.article-text-container code{    
    font-family: var(--text-code) !important;
    font-size: 16px;
}

.article-text-container pre {
    border-radius: 2px;
    border-left: 2px solid #FFC107;
    overflow: hidden;
}

.article-text-container pre::-webkit-scrollbar{
    display: none;
}

.article-text-container th, .article-text-container thead, .article-text-container td{
    font-family: var(--text-normal);
}

.article-text-container thead {
    color: var(--color-mid);
}

.article-text-container th {
    padding: 12px 12px 4px 12px;
    font-size: 13px;
}

.article-text-container td {
    padding: 4px 12px;
    font-size: 13px;
}

.article-text-container table {
    border-radius: 2px;
    border-collapse: collapse;
    overflow: hidden;
    position: relative;
    z-index: 1;
    background: #eaeaea;
    margin-top: 16px;
    left: 50%;
    transform: translateX(-50%);
}

.article-text-container table::before {
    content: "";
    z-index: -1;
    opacity: 0.1;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: var(--background-main);
}

.article-text-container blockquote {
    border-radius: 2px;
    background: #ededed;
    padding: 12px 12px 2px 12px;
    border-radius: 4px;
    position: relative;
}

.article-text-container blockquote p {
    font-size: 16px !important;
}

@media only screen and (max-width : 992px) {
    .article-view-title{
        font-size: 48px;
    }

    .article-item-details {
        font-size: 16px;
    }

    .article-tag{
        font-size: 16px;
    }
}

@media only screen and (max-width : 768px) {
    .article-text-container p{
        line-height: 1.6em;
        font-size: 18px;
        padding: 0px 8px;
        font-family: var(--text-normal);
    }
}