@import url(fontList.css);

.article-link-title{
    font-family: Righteous, 'sans-serif';
    text-transform: uppercase;
    font-size: 56px;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1.0em;
}

.article-link-desc{
    font-family: var(--text-normal);
    color: white;
    font-size: 14px;
    text-transform: uppercase;
}

.article-tag{
    /* background-color: black; */
    border-radius: 4px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 14px !important;
    /* font-weight: bold; */
    
}
/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .article-link-title{
        font-size: 48px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .article-link-title{
        font-size: 42px;
    }

    .article-tag{
        font-size: 12px !important;
    }
    
    .article-link-desc{
        font-size: 14px !important;
    }

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
}
