@import url('https://fonts.googleapis.com/css?family=Zilla+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab&display=swap');

@import url('../assets/Webfonts/FantasqueSansMono-Bold-decl.css');
@import url('../assets/Webfonts/FantasqueSansMono-BoldItalic-decl.css');
@import url('../assets/Webfonts/FantasqueSansMono-Italic-decl.css');
@import url('../assets/Webfonts/FantasqueSansMono-Regular-decl.css');
@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

:root{ 
    --color-main: #673ab7;
    --color-mid: #5c6bc0;
    --color-sec: #26a69a;
    --background-main: linear-gradient(to right, var(--color-main), var(--color-mid), var(--color-sec));
    --text-background: #FFFFFF;
    --text-color-normal: #afafaf;

    --text-normal: 'Varela Round', 'sans-serif';
    --text-code: 'fantasque sans mono', consolas, 'ubuntu mono', monospace;
    --text-header: 'Varela Round', 'sans-serif';
}

.article-view-title{
    font-family: 'Fresca', cursive;
    font-size: 64px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 1.0em;
}

.article-item-details{
    font-family: "Fresca", cursive;
    font-size: 18px;
    text-transform: uppercase;
}

.article-tag{
    background-color: black;
    border-radius: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 18px;
    font-weight: 100;   
}

.article-text-container p{
    line-height: 1.8em;
    font-size: 18px;
    font-family: var(--text-normal);
}

.article-text-container h1, .article-text-container  h2, .article-text-container  h3, .article-text-container  h4, .article-text-container h5, .article-text-container h6{
    margin: 32px 0px;
    /* font-weight: bold; */
    font-family: var(--text-header);
    padding: 2px 8px;
    border-radius: 8px;
    color: var(--color-mid);
}

.article-text-container strong {
    padding: 2px 6px 0px 6px;
    font-size: 16px;
    color: white;
    font-weight: normal;
    background: var(--background-main);
    border-radius: 4px;
}

.article-text-container strong {
    padding: 2px 6px 0px 6px;
    font-size: 16px;
    color: white;
    opacity: 0.8;
    font-weight: normal;
    background: var(--background-main);
    border-radius: 4px;
}

.article-text-container ul, ol{
    font-family: var(--text-normal);
    font-size: 16px;
    margin-top: 12px;
}

.article-text-container code{    
    font-family: var(--text-code) !important;
}

.article-text-container pre {
    border-radius: 12px;
    overflow: hidden;
}

.article-text-container pre::-webkit-scrollbar{
    display: none;
}

.article-text-container th, .article-text-container thead, .article-text-container td{
    font-family: var(--text-normal);
}

.article-text-container thead {
    color: var(--color-mid);
}

.article-text-container th {
    padding: 12px 12px 4px 12px;
    font-size: 16px;
}

.article-text-container td {
    padding: 4px 12px;
    font-size: 16px;
}

.article-text-container table {
    border-radius: 1em;
    border-collapse: collapse;
    overflow: hidden;
    position: relative;
    z-index: 1;
    background: #eaeaea;
    margin-top: 16px;
}

.article-text-container table::before {
    content: "";
    z-index: -1;
    opacity: 0.2;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: var(--background-main);
}

@media only screen and (max-width : 992px) {
    .article-view-title{
        font-size: 48px;
    }

    .article-item-details {
        font-size: 16px;
    }

    .article-tag{
        font-size: 16px;
    }
}
