@import url('https://fonts.googleapis.com/css?family=Zilla+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab&display=swap');

@import url('../assets/Webfonts/FantasqueSansMono-Bold-decl.css');
@import url('../assets/Webfonts/FantasqueSansMono-BoldItalic-decl.css');
@import url('../assets/Webfonts/FantasqueSansMono-Italic-decl.css');
@import url('../assets/Webfonts/FantasqueSansMono-Regular-decl.css');
@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

:root {
    --text-normal: 'Varela Round', 'sans-serif';
    --text-code: 'fantasque sans mono', consolas, 'ubuntu mono', monospace;
    --text-header: 'Varela Round', 'sans-serif';
}