.social-link{
    color: black;
    font-size: 24px;
    transition: color 0.14s ease-in-out;
}

.social-link:hover{
    color: gray;
}


.c-loader{
    height: 30px;
    transform-origin: bottom center;
}

.c-loader-item{
    height: 30px;
    width: 30px;
    border: 20px;  
    display: inline-block;
    background: #e1e2e3;
    /* margin: 2px; */
    transform: scale(0.0);
    border-radius: 50px;
    animation: grow 1.5s infinite;
    margin: -15px;
}

.c-loader-item:nth-child(2){
    background: #add1f3;
    animation-delay: 0.75s;
}

/* .c-loader-item:nth-child(2){
    animation-delay: 1.0s;
} */

@keyframes rotate{
    to{
        transform: rotate(360deg);
    }
}

@keyframes grow{
    50% {
        transform: scale(1.0);
    }
}

